<div class="container">
    <h1>Lista de Vagas Teste</h1>
    <table>
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <!-- <th>Company ID</th> -->
          <th>Nome da vaga</th>
          <!-- <th>Description</th> -->
          <th>Empresa</th>
          <th>Type</th>
          <th>Data de publicação</th>
          <th>Remoto</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Pais</th>
          <th>Job Link</th>
          <!-- <th>Search Date</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of cjobs">
          <!-- <td>{{ job.id }}</td> -->
          <!-- <td>{{ job.companyId }}</td> -->
          <td>{{ job.name }}</td>
          <!-- <td>{{ job.description }}</td> -->
          <td>{{ job.careerPageName }}</td>
          <td>{{ job.type }}</td>
          <td>{{ job.publishedDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ job.isRemoteWork === true ? 'Sim' : 'Não'}}</td>
          <td>{{ job.city }}</td>
          <td>{{ job.state }}</td>
          <td>{{ job.country }}</td>
          <td><a [href]="job.jobUrl" target="_blank">Link</a></td>
          <!-- <td>{{ job.searchDate }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
